<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inventory Management</title>
  <link href="/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1145.0" data-gr-ext-installed="">

<main class="form-signin">

    <div id="enlistedTableContainer"> </div>

</main>




<script src="/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/main.js" crossorigin="anonymous"></script>
<script>
  getAllEnlisted();
</script>
</body>
</html>