<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inventory Management</title>
  <link href="/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1145.0" data-gr-ext-installed="">

<main class="form-signin">

    <h1 class="h3 mb-3 fw-normal"> Oops! An error has occurred.</h1>
    <p class="mt-5 mb-3 text-muted">© 2023–2024</p>

</main>




<script src="/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/main.js" crossorigin="anonymous"></script>
</body>
</html>